# source folder
src/
test/
scripts/

# config files
coverage/

.vscode/
.github/
.husky/

.gitignore
babel.config.js
jest.config.js
.prettierrc.json
.lintstagedrc
.eslintrc.js

# tests and source map from build output
build/

dist-cjs/tests/
dist-cjs/**/*.js.map
dist-cjs/*/*/*.d.ts
dist/**/*.js.map
dist/tests/